@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');

* { box-sizing: border-box; }

body {
    margin: 0px;
    background-image: url('../images/image 16.png');
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    color: white;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
}

.ticket img {
    height: 80px;
    width: 80px;
    margin-right: 30px;
}

.titulo {
    font-size: 60px;
    color: #F0A124;
    font-family: Seoul;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    margin-right: 80px;
}

.texto {
    margin-top: 10px;
    font-size: 48px;
    font-family: Share Tech;
    color: #E1E1E1;
    text-shadow: 1px 1px 4px rgba(202, 202, 202, 0.87);
}

.cadeiras {
    display: flex;
    flex-direction: row;
}

.lugares {
    background: rgba(198, 198, 198, 0.9);
    box-shadow: 2px -2px 3px 2px rgba(11, 0, 0, 0.25), inset 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 16px 0px;
    padding: 2em;
    margin-left: 8em;
}

.conjunto {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
}

.conjunto-cinza {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 61px;
}

.conjunto2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 119px;
}

.conjunto3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 58px;
}

.conjunto-meio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;

}

.conjunto-meio2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 115px;
}

.conjunto-meio3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 68px;
}

.conjunto-final {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fileira {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.letra {
    background: #AA0A0A;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 8px;
    margin-right: 80px;
    font-family: Spartan;
    font-size: 28px;
}

.letra2 {
    background: #AA0A0A;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-right: 80px;
    font-family: Spartan;
    font-size: 28px;
}

.letra3 {
    background: #AA0A0A;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 80px;
    font-family: Spartan;
    font-size: 28px;
}

.letra4 {
    background: #AA0A0A;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 80px;
    font-family: Spartan;
    font-size: 28px;
}

.letra5 {
    background: #AA0A0A;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 80px;
    font-family: Spartan;
    font-size: 28px;
}

.letra6 {
    background: #AA0A0A;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 80px;
    font-family: Spartan;
    font-size: 28px;
}

.letra7 {
    background: #AA0A0A;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 80px;
    font-family: Spartan;
    font-size: 28px;
}


.conjunto1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
}

.cad-def {
    margin-right: 10px;
    background: url('../images/cadeira-azul.png');
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 1em;
    font-family: Spartan;
    font-size: 14px;
    font-style: bold;
    cursor: pointer;
}

.cad-def:nth-child(3) {
    background-position: 1.5px 0px;
}

.cad-red {
    margin-right: 10px;
    background: url('../images/cadeira-red.png');
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: 1px 0px;
    padding: 1em;
    font-family: Spartan;
    font-size: 14px;
    font-style: bold;
    cursor: pointer;
}

.cad-red:nth-child(1) {
    background-position: 2px 0px;
}

.cad-red:nth-child(3) {
    background-position: 2px 0px;
}

.cad-red:nth-child(5) {
    background-position: 0px 0px;
}

.cad-red:nth-child(6) {
    background-position: -10px 0px;
}

.cad-cinza {
    align-items: center;
    margin-right: 10px;
    background: url('../images/cadeira-cinza.png');
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: 1px 0px;
    padding: 1em;
    font-family: Spartan;
    font-size: 14px;
    font-style: bold;
    cursor: pointer;
}

.cad-cinza:nth-child(5) {
    background-position: 0px 1px;
}

